.notification {
    color: green;
    background-color: grey;
    font-size: 20px;
    border-style: solid;
    border-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.error {
    color: red;
    background-color: grey;
    font-size: 20px;
    border-style: solid;
    border-color: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}