html {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  background-color: lightgoldenrodyellow;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: beige;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: lightcoral;
    text-shadow: 3px 3px 1px black;
}

p, 
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

form {
    display: inline-block;
    padding: 1em;
    border: 1px solif #cccccc;
    border-radius: 1em;
}

label {
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em "Montserrat", sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999999;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: black;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
  font: 1em "Montserrat", sans-serif;
}